extends layout

block content
    #mario-chat
        #chat-window
            #output
                if user
                    each val in chats
                        p
                            strong= val.author + ':'
                            |  #{val.message}
            #feedback
        input#message(type='text', placeholder='Message')
        button#send.btn-success.btn-rounded(class="rounded") Send


        script.
            const chatWindow = document.getElementById('chat-window');
            chatWindow.scrollTop = chatWindow.scrollHeight;

