extends layout

block content

    h1= Register

    form(method="POST", action="/users/register")
        .form-group
            label Name:
            input.form-control(type="text", name="name")


            label Email:
            input.form-control(type="text", name="email")


            label Username:
            input.form-control(type="text", name="username")


            label Password:
            input.form-control(type="password", name="password")


            label Confirm:
            input.form-control(type="password", name="password2")


            if er
                span ошиюка в пароле
            br
            input.btn-primary(class="rounded",type="submit", value="Submit")
